@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  max-width: 85%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}